<div class="container footer">
   <div class="row-fluid">
      <div class="span12">
         <p>Visit <a href="http://archivesspace.org">ArchivesSpace.org</a></p>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37610829-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script src="http://max.jotfor.ms/min/g=feedback2" type="text/javascript">
new JotformFeedback({
formId:'30224800914141',
base:'http://jotform.us/',
windowTitle:'Feedback',
background:'#FFA500',
fontColor:'#FFFFFF',
type:false,
height:500,
width:700
});
</script>
<a class="lightbox-30224800914141" style="cursor:pointer;color:blue;text-decoration:underline;">Feedback</a>
      </div>
   </div>
</div>
